* {
  box-sizing: border-box;
}

body {
  position: relative;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Urbanist';
  height: 100vh;
  overflow: hidden; /* Do not scroll the page */
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
