.home-page {
  grid-template-rows: 300px 1fr 40px;
}

.home-page-logo {
  margin: 0;
  padding-top: 40px;
  text-align: center;
}

.home-page-slogan {
  font-size: 150%;
  white-space: nowrap;
  text-align: center;
  color: #C5161A;
}
